.DS_Store
.buildpath
.cache
.project
.settings
nbproject/
*~
.#*
*.bak
*.orig
*.rej
*.swp
*.kdev4
.kdev4/*

# Ignore ALL config files
conf.php

# Composer
/vendor/
composer.lock

# PHPUnit
.phpunit.cache/

# Ignore testing files
run-tests.log
/test/*/*/*.diff
/test/*/*/*.exp
/test/*/*/*.log
/test/*/*/*.out
/test/*/*/*/*.diff
/test/*/*/*/*.exp
/test/*/*/*/*.log
/test/*/*/*/*.out

